body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f5f5;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #47ecfe;
    color: #0a0909;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    font-weight: bold;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #393939;
    font-size: x-large;
    text-decoration: underline;
}

img {
    max-width: 100%;
}

.nutrition-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 5px;
}

.nutrition-row {
    display: flex;
    align-items: center;
    flex-basis: 25%;
    padding: 5px;
    border-right: 1px solid #ccc;
}

.nutrition-row:last-child {
    border-right: none;
}

.nutrition-label {
    font-weight: bold;
    margin-right: 4px;
}

.nutrition-value {
    margin-left: 4px;
}

footer {
    background-color: #f3fa24;
    color: #140404;
    padding: 20px;
    text-align: center;
}

.logo img {
    max-width: 100px;
}

.company-info p {
    margin: 5px 0;
}

.contact-form {
    margin-top: 20px;
}

.contact-form h3 {
    margin: 0 0 10px;
    text-decoration: underline;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #f8f3f3;
    color: #080202;
}